<html ng-app="app">
<head>
  <title>Hello Controllers in AngularJS</title>
  <link rel="icon" href="/images/favicon-32x32.png" type="image/gif">
</head>
<body>
    <img src="/images/404Page.PNG">
</body>
</html>
